In [18]:
import pandas as pd
import win32com.client

In [19]:
excel_path = 'C:\\Users\\irfaa\\Google Drive (irfaan.meah@gmail.com)\\Work\\Upwork\\xls to xlsx - brandon\\Balance_Sheet (1).xls'
sheet_name = 'Balance Sheet'
df = pd.read_excel(excel_path)
df.head(10)

,Volunteer Lawn,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,Balance Sheet,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,All Dates,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Oct 2018,Nov 2018,Dec 2018,Jan 2019,Feb 2019,Mar 2019,Apr 2019,May 2019,Jun 2019,...,Nov 2019,Dec 2019,Jan 2020,Feb 2020,Mar 2020,Apr 2020,May 2020,Jun 2020,Jul 2020,"Aug 1-17, 2020"
4,ASSETS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Current Assets,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Bank Accounts,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1000 Checking XXX2224 (2224),NaN,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,Total Bank Accounts,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,Accounts Receivable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
def parse_excel(excel_path,sheet_name,header_row=5):
    xl_app = win32com.client.Dispatch('Excel.Application')
    xl_app.Visible = False
    xl_wb = xl_app.Workbooks.Open(excel_path)
    xl_sh = xl_wb.Worksheets(sheet_name)
    
    row_num = header_row + 1
    cell_val = ''
    while cell_val != None:
        row_num += 1
        cell_val = xl_sh.Cells(row_num, 1).Value
    last_row = row_num - 1
    
    col_num = 1 
    cell_val = ''
    while cell_val != None:
        col_num += 1
        cell_val = xl_sh.Cells(header_row, col_num).Value
    last_col = col_num - 1
    
    content = xl_sh.Range(xl_sh.Cells(5, 1), xl_sh.Cells(last_row, last_col)).Value
    df = pd.DataFrame(list(content[1:]), columns=content[0]).fillna(0)
    xl_app.Application.Quit()
    return df

In [21]:
df = parse_excel(excel_path,sheet_name)

In [22]:
df.head()

,NaN,Oct 2018,Nov 2018,Dec 2018,Jan 2019,Feb 2019,Mar 2019,Apr 2019,May 2019,Jun 2019,...,Nov 2019,Dec 2019,Jan 2020,Feb 2020,Mar 2020,Apr 2020,May 2020,Jun 2020,Jul 2020,"Aug 1-17, 2020"
0,ASSETS,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Current Assets,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Bank Accounts,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1000 Checking XXX2224 (2224),0,0,0,0,-65.55,-288.25,-288.25,-288.25,-288.25,...,75282.4,113490,127060,70569.6,273006,1.06207e+06,1.21057e+06,824495,883182,744860
4,Total Bank Accounts,0,0,0,0,-65.55,-288.25,-288.25,-288.25,-288.25,...,75282.36,113490.17,127059.81,70569.58,273005.66,1062071.06,1210573.98,824494.87,883182.36,744860.35